name: docs

on:
  workflow_dispatch:
  push:
    branches: ['main', 'release-']
    tags: '*'
  release:
    types: [published]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref && github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    if: ${{ github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'documentation') }}
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
      - uses: julia-actions/cache@v2
      - run: julia --project=docs --color=yes -e 'using Pkg; Pkg.instantiate()'
      - run: julia --project=docs --color=yes docs/make.jl
        env:
          DOCUMENTER_KEY: ${{secrets.DOCUMENTER_KEY}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
